<%- include('./partials/head') %>

<section class="card">
    <figure>
      <img src=" <%= data.avatar %> ">
    </figure>
    <h1><%= data.name %></h1>
    <h2><%= data.surname %></h2>
    <p> <%= data.bio %> </p>
    <a class="link" href=" <%= data.website %> "> Mijn Website</a>
    <a class="link primary" href=" <%= data.github_handle%> "> Mijn Github</a>
</section>

<%- include('./partials/foot') %>